body{
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 700;
}

p,li {
    font-size: 0.9em;
    line-height: 2em;
    font-weight: 500;
}



#logo{
    width: 98px;
    height: 80px;
    transition: all 1s;
}

.navbar .nav-item .active {
    border-left: 3px solid rgb(248, 159, 50);
}

.table-responsive {
    display: table;
}

#gallery img{
    transition: all 1s;
}

#gallery img:hover{
    transform: scale(1.1);
    transition: all 1s;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #004a8b;
    color: white;
 }

 .table-striped > tbody > tr:nth-child(2n+2) > td, .table-striped > tbody > tr:nth-child(2n+2) > th{
    background-color: #ffc108;
    color: black;
 }

.carousel-inner .carousel-item.active .carousel-caption{
    transition: opacity 1s,margin-bottom 1s;
    opacity: 1;
   margin-bottom: 40px !important;
   text-shadow: 0 1px 2px rgba(173, 37, 26, 1) !important;
  }

  .carousel-inner .carousel-item .carousel-caption{
    opacity: 0;
    margin-bottom: -60px !important;
    
  } 

.carousel-item{
    height: 660px;
}

.carousel-image-1{
    background:url('../images/im1_org_2.jpg');
    background-size: cover;
}

.carousel-image-2{
    background:url('../images/pencil.jpg');
    background-size: cover;
}

.carousel-image-3{
    background:url('../images/graduation.jpg');
    background-size: cover;
}

.carousel-image-4{
    background:url('../images/Career_Counselling/DSC_0490.JPG');
    background-size: cover;
}

.carousel-image-5{
    background:url('../images/Career_Counselling/DSC_1391.JPG');
    background-size: cover;
}

.carousel-image-6{
    background:url('../images/Career_Counselling/DSC_1503.JPG');
    background-size: cover;
}

.carousel-item-about{
    height: 660px;
}

.carousel-image-about{
    background:url('../images/im1_org_2.jpg');
    background-size: cover;
}

.carousel-item-courses{
    height: 660px;
}

.carousel-image-courses{
    background:url('../images/courses.png');
    background-size: cover;
}

.carousel-item-contact{
    height: 660px;
}

.carousel-image-contact{
    background:url('../images/contact.jpg');
    background-size: cover;
}

.tittle {
    font-size: 3em;
    letter-spacing: 1px;
    color: #292a2b;
    font-weight: 800;
}
.map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    #button {
        display: inline-block;
        background-color: rgb(42, 61, 110);
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 4px;
        position: fixed;
        bottom: 30px;
        right: 30px;
        transition: background-color .3s,
            opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
    }
    
    #button::after {
        content: "\f077";
        font-family: FontAwesome;
        font-weight: normal;
        font-style: normal;
        font-size: 2em;
        line-height: 50px;
        color: #fff;
    }
    
    #button:hover {
        cursor: pointer;
        background-color: rgb(248, 159, 50);
    }
    
    #button:active {
        background-color: rgb(248, 159, 50);
    }
    
    #button.show {
        opacity: 1;
        visibility: visible;
    }

    .bcom_container{
    border-top-left-radius: 2em;border-bottom-left-radius: 2em;
    }

    .bcom_hons_container{
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
    }

    @media(max-width:770px){
        .bcom_container{
            border-radius: 2em;
        }

        .bcom_hons_container{
            border-radius: 2em;
        }
    }